.task-list {
  @extend %container;

  display: flex;
  justify-content: center;

  .card-wrapper {
    @extend .col-12, .col-sm-4;
    margin: 0 0.5rem;

    .card-slot-container {
      background-color: $surface-1;
      border-radius: 0.5rem;
      padding: 1rem;

      h2 {
        font-size: 1.25rem;
        font-weight: 300;
        text-align: left;
        margin-bottom: 1rem;
      }

      .card-slot {
        .card {
          padding: 1rem;
          border-radius: 0.5rem;

          &.todo {
            background-color: $yellow;
          }
          &.progress {
            background-color: $green;
          }
          &.done {
            background-color: $blue;
          }
          &:not(:last-of-type) {
            margin-bottom: 0.5rem;
          }

          .input {
            outline: none;

            &.title {
              font-size: 1.25rem;
              margin-bottom: 0.5rem;
            }

            &.text {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
