.task-list {
  @extend %container;

  display: flex;
  justify-content: center;

  .card-wrapper {
    @extend .col-12, .col-sm-4;
    margin: 0 0.5rem;

    .card-slot-container {
      background-color: $surface-1;
      border-radius: 0.5rem;
      padding: 1rem;

      h2 {
        font-size: 1.25rem;
        font-weight: 300;
        text-align: left;
        margin-bottom: 1rem;
      }

      .card-slot-wrapper {
        &.todo {
          .card {
            background-color: $yellow;
          }
        }
        &.progress {
          .card {
            background-color: $green;
          }
        }
        &.done {
          .card {
            background-color: $blue;
          }
        }
        .card {
          padding: 1rem;
          border-radius: 0.5rem;

          &:not(:last-of-type) {
            margin-bottom: 0.5rem;
          }

          .input {
            outline: none;

            &.title {
              font-size: 1.25rem;
              margin-bottom: 0.5rem;
            }

            &.text {
              font-size: 1rem;
            }
          }
        }

        // Drag Effects
        .card {
          &.dragging {
            box-shadow: 0 0 5px $white;
            transition: 0.2s;
          }
        }

        .card-slot {
          min-height: 1rem;
          border-radius: 0.5rem;
          transition: 0.3s;

          &::after {
            content: "";
            border-radius: 0.5rem;
            display: block;
            background-color: $surface-2;
            min-height: 0;
            width: 100%;
            margin-top: 0.5rem;
          }

          &.dropable {
            &::after {
              content: "";
              background-color: $surface-2;
              min-height: 2rem;
              transition: 0.3s;
            }

            &.dropable-over {
              &::after {
                background-color: $surface-3;
              }
            }
            .card {
              pointer-events: all;
              .input {
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  // Drag and drop
  &.dragging {
    .card {
      pointer-events: all;
      .input {
        pointer-events: none;
      }
    }
  }
}
